@{
    ViewBag.Title = "Contact";
}
<h2><i class="fas fa-address-book"></i>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address class="text-info">
    School Dr<br />
    Traverse City, MI 49686-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address class="text-warning">
    <strong>Support:</strong>   <a href="mailto:beaudeyoung@gmail.com">beaudeyoung@gmail.com</a>
</address>