
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Index</title>
    @Styles.Render("~/Content/NewEvent.css")
</head>
<body>
    <h2>Confirm Public Event</h2>

    <p>The following Public event has been added to the system</p>
    <p>@ViewBag.Message</p>
    <img src="~/Content/Unlocked.jfif" style="width:100px;" />
</body>
</html>