
@{
    ViewBag.Title = "NewEventForm";
}

<h2>New Event Form</h2>
<form name="newEvent" method="post">
    <p>Event:<input type="text" name="eventName" id="eventName" /></p>
    <p>Type:<input type="text" name="eventType" id="eventType"/></p>
    <p>Host:<input type="text" name="eventHost" id="eventHost" /></p>
    <p>Email:<input type="text" name="email" id="email" /></p>
    <p>Event Number:<input type="number" placeholder="0" name="id" id="id" /></p>
    <p>Event Date and Time<input type="datetime" placeholder="MM/dd/yyyy HH:mm" name="eventDateTime" id="eventDateTime"/></p>
    <p>
        Is the event public?(choose an option)<select name="isPublic" id="isPublic">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </p>
    <input type="submit" value="Submit Event" />
</form>
