
@{
    ViewBag.Title = "NewEventForm";
}

<h2>NewEventForm</h2>
<form name="newEvent" method="post">
    <p>Event:<input type="text" name="EventName" id="EventName" /></p>
    <p>Type:<input type="text" name="EventType" id="EventType"/></p>
    <p>Host:<input type="text" name="EventHost" id="EventHost" /></p>
    <p>Email:<input type="text" name="Email" id="Email" /></p>
    <p>Event Number:<input type="number" min="1" max="10" name="EventNumber" id="EventNumber" /></p>
    <p>
        Is the event public?(choose an option)<select name="IsPublic" id="IsPublic">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </p>
    <input type="submit" value="Submit Event" />
</form>
